<!DOCTYPE HTML>
<html>
<head>
    <title>Main</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div>
    <form method="post">
        <input type="text" name="text" placeholder="Add text"/>
        <input type="text" name="tag" placeholder="Add tag"/>
        <button type="submit">Add</button>
    </form>
</div>

<div>Список сообщений</div>
{{#messages}}
    <div>
        <b>{{id}}</b>
        <span>{{text}}</span>
        <i>{{tag}}</i>
    </div>
{{/messages}}

</body>
</html>